<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />    
  <title>User Registry</title>
   <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
  <title>User Registry</title>
  <link rel="stylesheet" href="/styles/style.css">
 
</head>

<body>

    <header>
        <h1>Tech Blog</h1>
    </header>

    <nav>
        <a href="#">Home</a>
        <a href="#">Dashboard</a>
        <a href="#">Login</a>
              
    </nav>
 
    <main>
      {{{ body }}}
     
    </main>

    <footer>
        &copy; 2023 Tech Blog. All rights reserved.
    </footer>

</body>

</html>
