<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />    
  <title>User Registry</title>
   <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
  <title>User Registry</title>
  <link rel="stylesheet" href="/styles/style.css">
 
</head>

<body>
<a href="/signup" class="signin-link" >Creat a Login</a>
    <header>
        <h1>Tech Blog</h1>  
    </header>

    <nav>
        <a href="#">Home</a>
        
        {{#if loggedIn}}
          <a class="btn btn-primary" id="logout">Logout</a>
        {{else}}
        {{!-- <a href="#" class="btn btn-primary">Log out</a> --}}
         <a href="/login" class="btn btn-primary" >Login</a>
        {{/if}}
        {{#if loggedIn}}                
           <a href="/newblogpost" id = "newblogPost" class="blog-link">Create New Blog Post</a>
        {{else}}
          <p>You have to Login to create a new Blog Post. If you dont have a Login : </p>
        {{/if}}
          {{!-- <a href="/login" class="signin-link" >Signup</a> --}}
        </nav>
        
        
{{!-- 
    <div class="blog-container"></div>
    </div> --}}
 
    <main>
      {{{ body }}}
     
    </main>

    <footer>
        &copy; 2023 Tech Blog. All rights reserved.
    </footer>
   {{#if loggedIn}}
    <script src="/js/logout.js"></script>
    
    {{!-- <script src="/js/newblog.js"></script> --}}
   {{/if}}
</body>

</html>
