<form> 
        
        <label>Title:</label>
        <input type="text" id="post-title" name="post-title" value={{blogsData.title}} >

        <label >Content:</label>
        <textarea id="post-content" name="post-content" rows="8" required>{{blogsData.post}} </textarea> 

        <label for="post-author">Author:</label>
        <input type="text" id="post-author" name="post-author" value={{blogsData.user.name}}>

        <input type="text" id="blogId" name="Blog ID" value={{blogsData.id}}>
        <button type="submit" id = "submitBtn">Save Changes</button> <button type="submit" id = "deleteBtn">Delete Blog</button>
</form>


  
<script src="/js/index.js"></script>