<form>
        <label>Title:</label>
        <input type="text" id="posttitle" name="postTitle" required>

        <label >Content:</label>
        <textarea id="postcontent" name="postContent" rows="8" required> </textarea>

        <label for="post-author">Author:<span id = "authName">{{authorName}}</span> </label>
     
        <label for="ID"><span id = "userId">{{userId}}</span></label>
      
        <button type="submit" id = "saveBtn">Save</button> 
</form>
<script src="/js/newblog.js"></script>