<form class ="comment-form">
  <h3>Add a Comment</h3>
  <label >Your Name:</label>
  <input type="text" class="comment-author" name="comment-author" >
  <label >Your Comment:</label>
  <textarea class="comment-content" name="comment-content" rows="4"></textarea>
  <button class="commenttBtn" type="submit">Submit Comment</button>
  <p style="display: none;" id="comblogID">{{blogID}}</p>
</form>

<script src="/js/newcomment.js"></script>